{{!-- add button --}}
<button id="Add" type="button" onclick=Add_new_product_GUI_checkID() class="ml-5 mt-3 p-2 px-5 text-primary border-dark"
    style="font-size: 32px;"> +</button>
<div id="add_product">
</div>
<script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script>
     if ("{{congrats}}" != "") {
      Swal.fire({
        position: 'center',
        icon: 'success',
        title: '{{congrats}}',
        showConfirmButton: false,
        timer: 1500
      })
    }
</script>
{{!-- container --}}
<div class="container mt-3 mb-3">

    <div class="row jusify-content-between">
        <div class="col-lg-12 mt-3 p-0">
            <!--ITEM-->
            {{#each products}}
            <div class="products container mb-3 bg-light" store="{{id}}">
                <div class="row">
                    <div class="col-md-4 text-center p-0 m-0">
                        <img src="/{{main_img}}" alt="Item" height="215px">
                    </div>
                    <div class="col">
                        <div class="row p-1 justify-content-center  ">
                            <h5 class="col p-0 m-0 hldash text-center">{{name}}</h5>

                        </div>
                        <div class="row p-1">
                            <p class="p-0 m-0">ID: {{id}} - {{category}}</p>
                        </div>

                        <div class="total row p-1 text-warning">

                        </div>
                        <script>
                            var index = {{@index}}

                            var products_tagname = document.getElementsByClassName('products')
                            var product_id = products_tagname[index].attributes.store.value
                            var total_products = 0 
                        </script>
                        {{#each ../size_stock}}
                        <script>

                            if ("{{ProductId}}" == product_id) {
                                total_products += {{ stock }}
                            }
                        </script>
                        {{/each}}
                        <script>
                            var total = document.getElementsByClassName('total')
                            total[index].insertAdjacentHTML('beforeend', `<p class="p-0 m-0">Chỉ còn ${total_products} sản phẩm</p>`)
                        </script>
                        <div class="row p-1 justify-content-between ">

                            <div class="col p-0 m-0">
                                <div class="row">
                                    <div class="col">
                                        <div class="row justify-content p-0 m-0">
                                            <button class="pr-2  bg-light text-primary font-weight-bolder p-0 pr-4"
                                                onclick="" style="border:none">Sửa</button>
                                            <button class="  bg-light text-primary  font-weight-bolder" onclick=""
                                                style="border:none; ">Xóa</button>
                                        </div>
                                    </div>
                                    <p class="Money_format col-3 text-center align-content-center p-0 m-0"
                                        style="border-radius:1000px; font-size: 15px;"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                // money fommat
                var m_format = document.getElementsByClassName("Money_format")

                var price = {{ price }}

                price = price.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 })
                m_format[index].innerHTML = price + " VND"
            </script>
            {{/each}}
        </div>
    </div>
</div>

<script>
    // quan li san pham
    add_btn = document.getElementById("Add");
    add_menu = document.getElementById("add_product")
    function Add_new_product_GUI_checkID() {

        const item = `
      <form action = '/User/Admin/UpdateProduct' method ="GET" class="ml-5 mt-4">
      
      <input style = "display:none" type = "text" name ="returnPath" id = "returnPath" value ="{{returnPath}}">
      <label for="Add_id" class="text-dark">Nhập ID:</label>
      <input type = "text" name ='Enter_id' id = "Add_id" placeholder="ID"required > <br>
      
      <button id="Add_new_product" type="submit" class=" p-3  " > Confirm Add</button>
      <button id="Cancel_new_product" class=" p-3"  type="button" onclick=cancel_add_product()> Cancel</button>
    </form>
    
    `;
        add_btn.disabled = true;
        add_menu.insertAdjacentHTML("beforeend", item);

    }
    function Check_Id() {
        var entered_id = document.getElementById('Add_id')

        for (let i = 0; i < products_tagname.length; i++) {
            if (products_tagname[i].attributes.store.value == entered_id.value) {
                cancel_add_product()
            }
        }

    }
    function cancel_add_product() {
        add_btn.disabled = false;
        while (add_menu.hasChildNodes()) {
            add_menu.removeChild(add_menu.firstChild)
        }

    }
</script>