<link rel="stylesheet" href="/CSS/Travel.css">

<div class="container travel hldash pt-3">
    <ul class="d-inline-flex row ">
        <li class="d-flex align-items-end">
            <a class="mr-2" href="/">Trang chủ</a>
        </li>
        <li class="d-flex align-items-end font-weight-bold">
            Giỏ hàng
        </li>
    </ul>
</div>

<div class="container mt-3 mb-4 pb-5">

  <div class="row jusify-content-between">
    <div id="cart-content" class="col-lg-8 mt-3 p-0">
      {{#each cart}}
      <div class="container mb-3 bg-light">
        <div class="row">
          <div class="col-md-4 text-center p-0 m-0">
            <img src="/{{main_img}}" alt="Item" height="215px"width="215px">
          </div>
          <div class="col">
            <div class="row p-1 justify-content-center  ">
              <h5 class="col p-0 m-0 hldash text-center">{{name}}</h5>
            </div>
            <div class="row p-1">
              <p class="p-0 m-0">{{info}}</p>
            </div>
            <div class="row p-1 text-warning">
              <p class="p-0 m-0">Hãng hiệu: {{brand}} - Kích cỡ: {{size}}</p>
            </div>

            <div class="row p-1 justify-content-between ">

              <div class="col p-0 m-0">
                <div class="row">
                  <div class="col">
                    <div class="row justify-content p-0 m-0">
                      <button value="{{id}}" class="delete_cart pr-2  bg-light text-primary font-weight-bolder p-0 pr-4"
                        job="delete" style="border:none">XÓA</button>
                      <button value="{{id}}" class="mark_cart  bg-light text-primary  font-weight-bolder" job="mark"
                        style="border:none; ">MUA
                        SAU</button>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="row">
                      <button class="add_quantity bg-primary text-light font-weight-bolder" job="delete_quantity"
                        style="border-radius:1000px; height: 25px;">-</button>
                      <p value="{{stock}}" class="quantity text-center align-content-center p-0 m-0"
                        style="border-radius:1000px; height: 15px; width: 15px;">{{quantity}}</p>
                      <button class="delete_quantity bg-primary text-light font-weight-bolder" job="add_quantity"
                        style="border-radius:1000px; height: 25px;">+</button>
                    </div>
                  </div>

                  <p value="{{price}}" class="Money_format col-3 text-center align-content-center p-0 m-0"
                    style="border-radius:1000px; font-size: 15px;"></p>
                </div>
                <script>
                  var index = {{@index}}
                  var m_format = document.getElementsByClassName("Money_format")
                  var quantity_div = document.getElementsByClassName("quantity")

                  if (parseInt(quantity_div[index].attributes.value.value) == parseInt(quantity_div[index].innerHTML)) {
                    quantity_div[index].style.color = "red"
                  }
                  var price = {{ price }}
                  price = parseInt(price) * parseInt(quantity_div[index].innerHTML)
                  price = price.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 })
                  m_format[index].innerHTML = price + " VND"
                </script>
              </div>
            </div>
          </div>

        </div>

      </div>
      {{/each}}
    </div>

    <div class="col-lg-4 justify-content-center">
      <div class="container mt-3">

        <div class="row hl2dash vl2 bg-secondary justify-content-center">
          <p class=" m-1 text-light font-weight-bold">Địa chỉ</p>
          <a href=""><i class="fa fa-edit"></i></a>
        </div>
        <div class="row vl2 p-0 ">
          <div class="col-6  p-0 m-0 text-center  ">
            <p class="p-1 m-0">Trần Phi Phụng</p>
          </div>

          <div class=" col-5  p-0 m-0 text-center vl">
            <p class="p-1 m-0">0912939711</p>
          </div>
        </div>
        <div class="row box-dash p-1" style="font-size: 16px;">
          <p class="col p-1 m-0">112/15 Thành Thái, Quận Tân Bình, TpHCM </p>
        </div>
      </div>
      <div class="container mt-3">

        <div class="row hl2dash vl2 bg-secondary justify-content-center">
          <p class=" m-1 text-light font-weight-bold">Mã khuyến mãi</p>
          <a href=""><i class="fa fa-edit"></i></a>
        </div>
        <div class="row vl2 p-0 ">
          <div class="col p-0 m-0 text-center font-weight-bolder ">
            <p class="p-1 m-0">#NoNameNoNumber</p>
          </div>
        </div>
        <div class="row box-dash p-1 text-center font-weight-bolder text-primary" style="font-size: 16px;">
          <p class="col p-1 m-0">-100 000 VND </p>
        </div>

      </div>

      <div class="container mt-3">

        <div class="row hl2dash vl2 bg-secondary justify-content-center">
          <p class=" m-1 text-light font-weight-bold">THANH TOÁN</p>
        </div>
        <div class="row hldash vl2  justify-content-between">
          <p class=" m-1 text-dark font-weight-bold">TỔNG TIỀN</p>
          <p class=" m-1 text-danger font-weight-bold">500 000 VND</p>
        </div>
        <div class="row vl2 p-0 hldash  justify-content-between">
          <p class=" m-1 text-dark font-weight-bold">VOUCHER</p>
          <p class=" m-1  font-weight-bold text-primary">-100 000 VND</p>
        </div>
        <div class="row vl2 p-0 hldash  justify-content-between">
          <p class=" m-1 text-dark font-weight-bold">THÀNH TIỀN</p>
          <h4 class=" m-1  font-weight-bold text-primary ">400 000 VND</h4>
        </div>
      </div>

      <div class="container mt-3 justify-content-center">
        <div class="row  justify-content-center">
          <button class="btn col btn-warning bg-warning">
            <p class="p-0 m-0 font-weight-bold">ĐẶT HÀNG</p>
          </button>
        </div>


      </div>
    </div>
  </div>

</div>
<script>
  var cart_content = document.getElementById("cart-content")
  console.log(cart_content.childNodes)
    if(cart_content.childNodes[1] == undefined){
          var parent = cart_content.parentNode.parentNode;
        
          while(parent.hasChildNodes() == true){
            parent.removeChild(parent.childNodes[0]);
          }
            parent.insertAdjacentHTML("afterbegin",`<div class="container-fluid d-flex align-items-center flex-column">
                      <i class="fa fa-shopping-cart" style="font-size: 200px;"></i>
                      <p>Không có sản phẩm nào trong giỏ hàng của bạn</p>
                      <form action="/Product" class="row">
                        <button class="btn btn-primary bg-primary">
                          Quẹo lựa ngay
                        </button>
                      </form>
                    </div>
                    `) 
  }
  cart_content.addEventListener("click", function (ToDo) {
    const child = ToDo.target
    var job = child.attributes.job
    if (job != undefined) {
      job = child.attributes.job.value
      //delete product from cart
      if (job == "delete" || job == "mark") {
        var work_id = child.attributes.value.value
        if (job == "delete") {
          window.location.href = `/Cart/DeleteProduct?returnPath={{returnPath}}&id=${work_id}&submit=delete`
        }
        else{
          window.location.href = `/Cart/DeleteProduct?returnPath={{returnPath}}&id=${work_id}&submit=mark`
        }
      }
      //change quantity
      else {
        var stock = parseInt(child.parentNode.childNodes[3].attributes.value.value)
        let temp = parseInt(child.parentNode.childNodes[3].innerHTML)

        if (job == "add_quantity") {

          if (temp < stock) {

            temp++

            child.parentNode.childNodes[3].innerHTML = temp
            if (temp == stock) {
              child.parentNode.childNodes[3].style.color = "red"
            }
          }
        }
        else {
          if (temp > 1) {
            temp--
            child.parentNode.childNodes[3].innerHTML = temp
            child.parentNode.childNodes[3].style.color = "black"
          }
        }
        var price = parseInt(child.parentNode.parentNode.parentNode.childNodes[5].attributes.value.value)

        price = parseInt(price) * parseInt(child.parentNode.childNodes[3].innerHTML)
        price = price.toLocaleString(undefined, { minimumFractionDigits: 0, maximumFractionDigits: 0 })

        child.parentNode.parentNode.parentNode.childNodes[5].innerHTML = price + " VND"
      }

    }

  })

</script>